.individualProjects,
.groupProjects {
  background-color: #f4f9f4;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

#individualProj-carousel,
#groupProject-carousel {
  height: 375px;
}

.carousel-indicators li {
  background-color: #a7d7c5;
}

.carousel-indicators .active {
  background-color: #74b49b;
}

.caret-style {
  color: #74b49b;
  font-size: 2rem;
}