.skills {
    background-color: #90c4af;
    width: 100%;
    margin: 0;
    padding: 75px 0 50px;
    text-align: center;
}

.skillsRow {
    width: 75%;
    margin: auto;
}

.textLight {
    color: #ddefe9;
}

.skillicon,
.skilliconS,
.skilliconL {
    height: 50px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.skilliconS {
    height: 30px;
    margin-top: 40px;
}

.skilliconL {
    height: 60px;
}