hr {
    border-top-color: #74b49b;
    border-top-style: dotted;
    border-top-width: 7px;
    width: 8%;
    margin: 50px auto;
  }
  
.greeting {
    background-color: #f4f9f4;
    margin: 0;
    padding: 150px 0 60px;
    text-align: center;
}

#aboutMe {
    width: 40%;
    margin: auto;
}