/* general formatting */

html {
    /* styling for sticky footer */
    position: relative;
    min-height: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #938e94;
    color: #5d5c61;
    height: 100%;
    margin: auto;
    /* set margin to footer height */
    margin-bottom: 25px;
}

h2 {
    color: #5d5c61;
    font-family:'Philosopher', sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #5d5c61;
    padding: 20px 0px;
}

h3 {
    background-color: #557a95;
    color: #5d5c61;
    font-family:'Shadows Into Light Two', cursive;
    font-size: 20px;
}

/* header & navigation bar formatting */

header {
    width: 100%;
    height: 65px;
    text-align: center;
    background-color: #7395ae;
    color: #557a95;
    border-bottom: 1px solid #557a95;
}

nav {
    width: 95%;
    height: 55px;
    margin: 0 25px;
    position: relative;
}

#nav_bar {
    background-color: #5d5c61;
    height: 52px;
    margin-left: 75px;
}

#nav_name_init {
    position: absolute;
    left: -64px;
    font-family:'Philosopher', sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 1px;
    background: none;
    color: #5d5c61;
}

#nav_name {
    font-size: 30px;
    font-style: normal;
    color: #7395ae;
    vertical-align: 25%;
}

ul {
    font-family:'Philosopher', sans-serif;
    list-style-type: none;
    position: absolute;
    right: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #7395ae;
    text-decoration: none;
    height: 55px;
    padding: 20px 10px;
}

/* formatting for Portfolio gallery page */

#project-container {
    background: none;
    color: #5d5c61;
    width: 720px;
    height: 1060px;
    margin: 10px auto;
    padding: 10px;
}

.row {
    position: relative;
    left: 0px;
}

.row1 {
    margin-top: 20px;
}

.row2 {
    margin-top: 260px;
}

.row3 {
    margin-top: 500px;
}

.row4 {
    margin-top: 740px;
}
.project-image {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 20px;
    border: 1px solid #5d5c61;
    border-radius: 10px;
    z-index: 0;
}

.project-image-left {
    left: 30px;
}

.project-image-right {
    left: 370px;
}

.project-label {
    text-align: center;
    color: #c6c1c7;
    width: 302px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 164px;
    z-index: 1;
}

.project-label-left {
    left: 30px;
}

.project-label-right {
    left: 370px;
}

.project-label-link:hover {
    background-color: #7395ae;
    color: #5d5c61;
    font-weight: bolder;
    cursor: pointer;
}

/* formatting for footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px; /* Set the fixed height of the footer here */
    line-height: 23px; /* Vertically center the text here (footer height-border) */
    text-align: center;
    font-size: 12px;
    background-color: #5d5c61;
    color: #938e94;
    border-top: 1px solid #557a95;
}

/* specific styles to support smaller screens */

@media only screen and (max-width: 768px) {
    #project-container {
        width: 620px;
    }

    .row2 {
        margin-top: 230px;
    }
    
    .row3 {
        margin-top: 440px;
    }
    
    .row4 {
        margin-top: 650px;
    }

    .project-image {
        width: 250px;
        height: 175px;
        top: 15px;
    }
    
    .project-image-right {
        left: 320px;
    }

    .project-label {
        width: 252px;
        height: 30px;
        line-height: 30px;
        top: 155px;
    }
    
    .project-label-right {
        left: 320px;
    }
}

@media only screen and (max-width: 640px) {
    header {
        width: 100%;
        height: 100px;
        background-color: #7395ae;
        color: #5d5c61;
    }
    
    nav {
        width: 100%;
        margin: 0px;
    }

    #nav_bar {
        margin-left: 0px;
    }
    
    #nav_name_init {
        position: relative;
        left: 0px;
        margin: 0 auto;
        color: #7395ae;
    }

    #nav_menu{
        float:right;
        position:relative;
        left:-50%;
        text-align:left;
        height: 55px;
        margin-top: -18px;
    }

    #nav_menu ul{
        list-style:none;
        position:relative;
        left:50%;
    }

    #nav_menu li{
        float:left;
        position:relative; /* ie needs position:relative here*/
    }

    #project-container {
        width: 360px;
        height: 1560px;
    }

    .row2 {
        margin-top: 440px;
    }
    
    .row3 {
        margin-top: 860px;
    }
    
    .row4 {
        margin-top: 1280px;
    }
    
    .project-image {
        width: 300px;
        height: 200px;
        top: 20px;
    }
    
    .project-image-right {
        left: 30px;
        margin-top: 210px;
    }
    
    .project-label {
        width: 302px;
        height: 50px;
        line-height: 50px;
        top: 164px;
    }
        
    .project-label-right {
        left: 30px;
        margin-top: 210px;        
    }
}