html {
  position: relative;
  min-height: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family:'Philosopher', sans-serif;
  font-size: 20px;
  color: #8f8f8f;
  height: 100%;
  margin: 0 auto;
}

h1 {
  color: #74b49b;
  font-family: Ruthie, cursive;
  font-size: 5rem;
}

h2 {
  color: #74b49b;
  font-family: Ruthie, cursive;
  font-size: 3rem;
}

h3 {
  color: #74b49b;
  font-family:'Shadows Into Light Two', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px auto;
}

h6 {
  font-size: 18px;
  text-align: left;
  vertical-align: middle;
  clear: both;
}

a {
  color: #74b49b;
  text-decoration: none;
}

a:hover {
  color: #a7d7c5;
  text-decoration: none;
}